.table {
  width: 800px;
  /* margin-top: 5rem; */
  border-collapse: collapse;
  font-size: small;
}

.td {
  text-align: left;
  padding-bottom: 0.5rem;
}

.td:first-child {
  border-radius: var(--border-radius-small);
}

.td:last-child {
  border-radius: var(--border-radius-small);
}

.sort {
  display: flex;
  align-items: center;
}

.th {
  background-color: #eeeeee;
  text-align: left;
  padding-bottom: 0.5rem;
}

.th:first-child {
  border-radius: var(--border-radius-small);
}

.th:last-child {
  border-radius: var(--border-radius-small);
}

.tr:nth-child(even) {
  background-color: #eeeeee;
}
